.sq-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #000;
}

.sq-cover {
    width: 112px;
    height: 112px;
    display: inline-block;
    border: 20px solid green;
    background: darkseagreen;
}

.sq-matched {
    width: 152px;
    height: 152px;
    display: inline-block;
    border: 0;
}

.timer {
    width: 150px;
    display: inline-block;
    font-size: 25px;
}

.loader {
    margin-left: 168px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#targetImage {
    border: 5px solid #000;
}

#reset {
    display: none;
    height: 80px;
    width: 120px;
    margin-left: 15px;
    margin-top: 35px;
    font-size: 25px;
}

#targetBox {
    font-size: 25px;
}
